.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #F5F6FA;
}

.button {
    -fx-background-color: #0984E3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #74B9FF;
}

.text-field,
.combo-box,
.date-picker {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-height: 40;
}

.table-view {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.label {
    -fx-font-size: 14px;
}